.coub {
  &__layout {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    place-items: center;
    height: 100vh;
  }

  &__title {
    text-align: center;
    font-size: 26px;

    @media screen and (min-width: 550px) {
      font-size: 32px;
    }
  }

  &__next-button-layout {
    text-align: center;
  }

  &__next-button {
    all: unset;
    box-sizing: border-box;
    width: 165px;
    height: 40px;
    border: 7px solid #c0bebe;
    border-radius: 30px;
    background: #c0bebe;
    font-family: inherit;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;

    @media screen and (min-width: 550px) {
      width: 260px;
      height: 70px;
      font-size: 24px;
    }

    &:hover,
    &:focus,
    &:active {
      background: #a1a0a0;
    }
  }
}
