@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.app {
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;

  &__title {
    font-size: 26px;
    text-align: center;
  }

  &__update {
    text-align: center;
  }

  &__update-button {
    border: none;
    background-color: rgb(192, 190, 190);
    width: 165px;
    height: 40px;
    border-radius: 30px;
    font-size: 1.2rem;
    font-weight: 600;
    box-shadow: 0 0 0 7px rgb(192, 190, 190) inset;

    &:hover,
    &:focus {
      background: rgb(161, 160, 160);
      cursor: pointer;
    }
  }
}

@media (min-width: 550px) and (max-width: 996px) {
  .app {
    &__title {
      font-size: 2em;
    }

    &__update-button {
      width: 260px;
      height: 70px;
      font-size: 1.5rem;
    }
  }
}

@media (min-width: 996px) {
  .app {
    &__title {
      font-size: 2.2em;
    }

    &__update-button {
      width: 240px;
      height: 70px;
      font-size: 1.5rem;
    }
  }
}
